/* Reset */
* { box-sizing: border-box; margin: 0; padding: 0; }

:root{
  --navbar-h: 46px;
  --main-color: #ebeef1da;
  --color3: #eaeaea;
  
  --border-1: #a7aeb4;

  --hoverlay: #3333333b;
  --hoverlay-2: #3232328f;

  --radius: 0px;

  --main-height: calc(100vh - var(--navbar-h));

  --big-text: #2b3249;
  --lil-text: #484a52; font-size: 14px; font-weight: 360;

  --p-text: #aeaeae;

  --big-2: #ffffff;
  --border-2: #b9c1c752;

  --link-text: #25b43d;
  --link-2: #017dea;
  --link-hover: #afd3ec3a;
  --link-sel: #008cff;


  --mm-select: #090909;
  --mm-highlight: #bfcab846;
}



body {
  font-family: 'Google Sans' , sans-serif;
}



a:hover{
  text-decoration: underline;
}


  .mm-content{
    padding-top: 0px;
    margin: 0 auto;
    backdrop-filter: blur(80px);
    margin-bottom: 0rem;
    z-index: 0;
  }



.navbar{
  top: 0; left: 0; right: 0;
  z-index: 1300;
  background-color: var();
  height: var(--navbar-h);
  display: flex; 
  flex-direction: row;
  align-items: center;
  justify-content: variable;
  gap: 3rem;
  padding-left: 80px;

  background-color: #fafafa;


  border-bottom: 1px solid var(--border-1);
  box-shadow: 1px 1px 10px 1px #2f2f2f00; 


  position: relative;

  font-weight: var(--lil-text);
}
.mini-nav{
  display: none;
}


.brand img{display: none;}


.index-tog{
  color: var(--lil-text);
  display: flex;

  cursor: pointer;
  transition: color 0.15s ease;

  position: absolute;
  left: 20px;
}
.index-tog:hover{
  color: #888888;
}

.index-tog .mobile{
display: none;
}



.link{ 
  text-decoration: none; 
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--lil-text);
  font-size: 14px;
  transition: ease-in-out 0.15s;

  margin: 0;
}
.link svg{
  rotate: 180deg;
}

.link2{ 
  text-decoration: none; 
  display: flex;
  align-items: center;
  gap: 40px;
  color: var(--lil-text);
  transition: ease-in-out 0.1s;

  position: absolute;
  right: 18px;
}
.linkVENMO{
  text-decoration: none; 
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--lil-text);
  font-size: 14px;
  transition: ease-in-out 0.15s;

  margin: 0;
}
.linkVENMO:hover{
 color: var(--link-sel);
}


.linkREPORT{ 
  text-decoration: none; 
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--lil-text);
  font-size: 14px;
  transition: ease-in-out 0.15s;
  margin: 0;

  padding: 6px 10px;
  border-radius: 4px;
  background-color: #ed4917;
  color: #fcf3db;

  max-height: 32px;
}
.linkREPORT:hover{ 
 background-color: #fc644c;
 border-color: #dd4112;
 color: #fcf3db;
 text-decoration: none;
}


.link:hover{
  color: var(--link-sel); 
  border: none; 
  text-decoration: underline; 
  border-radius: 40px;
}
.link:active{
  color: var(--link-sel);
  text-decoration: underline;
}

#current-view-label{
  font-size: 14px;
}

/* Main content area */
.layout-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--main-color);
  max-width: 100vw;
  overflow: hidden;
  margin-left: 0px;
  max-height: 700px;

}

/* Separator */
.mm-sep1{ height:1px; background: var(--border-1);   max-width: 100%; margin: 1rem 0rem; }

.mm-sep2{ height:1px; background:var(--border-1);}
.mm-sep3{ flex: 0 0 1px; height: 26px; align-self: center;  color:var(--border-1);}
.mm-sep5{ height:0px; background:var(--border-1); margin-bottom: 10px;}
.mm-sep7{ height: var(--main-height); width: 0px; background-color: var(--border-1);}


/* Hover tooltip */
.mm-tooltip{
  position: fixed; pointer-events:none;
  background-color: #00000079;
  backdrop-filter: blur(50px);
  border: 1px solid #aaaaaa2b;
  box-shadow: 0px 0px 6px #00000000;
  border-radius: 14px;
  color: #fff;
  font-size: 16px; 
  font-weight:500; 
  padding:12px;
  opacity:0; transform: translate(12px,12px);
  transition: opacity 120ms ease; z-index:1000;
}
.mm-tooltip.show{ opacity:0.9; }


.viewer-instruction{
  font-size: 12px; color: var(--lil-text); line-height: 1.5rem; 
  margin: 0 auto; padding:1rem 2.4rem;
  justify-content: center;
  max-width: var(--max-width);
  text-align: left;
}
.link-explain{
  font-size: 13px;
  color: var(--lil-text);
  height: var(--notify-h, auto);
  text-align: left;
  align-items: center;
  align-content: left;
  gap: 0.2rem;
  display: flex;

}
.link-explain a{
  text-decoration: none;
  color: var(--link-text);
}
.link-explain a:hover{
  text-decoration: underline;
  color: var(--link-text);
}
.cls-4{
  color: white;
}
/* --------- Viewer --------- */
.viewer{
  flex: 1;
  min-width: 0;
  display:flex; 
  margin-top: 14px;
  margin-left: 1vw;
}


  /* Container holds everything together */
.view-dropdown-container {
  position: absolute;
  top: 14px;
  left: 12px;
  pointer-events: auto; /* Ensure clicks register */
  z-index: 20; 
  background-color: #0f0f0fb7;
  border-radius: 40px;
  color: white;
  padding: 10px 20px;
}

/* The Trigger Button */
.view-dropdown-trigger {
  display: flex;
  align-items: center;
  gap: 10px;
}






.bottom-panel{
  position: absolute;
  left: 30px;
  bottom: 26px;
  z-index: 1300;
  gap: 24px;
  color: #fff;
}
.bottom-panel:hover{
  color: var(--mm-select);
  cursor: pointer;
}


.window {
  position: relative;
  flex-grow: 1;
  overflow: hidden;

    background-color: #000000;

     border-radius: 14px;

     border: 1px solid var(--border-1);
    
  display: flex; 
  align-items: center; 
  justify-content: center;
}
.viewer-frame{
  position: relative;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row; 
  min-height: calc(var(--main-height) - 2rem); 
  align-items: stretch;
  overflow: hidden;
}
.canvas-layer {
  position: absolute;
  inset: 0;
  z-index: 0; 
}
.ui-layer {
  position: absolute;
  inset: 0;
  z-index: 10;
  display: flex;
  pointer-events: none; /* Let clicks pass to 3D model */
}
.ui-safe-zone {
  flex-grow: 1;
  flex-basis: 0; /* Tells it to start at 0 and fill only available space */
  position: relative;
  height: 100%; 
}
.ui-layer .panel {
  position: relative !important; /* Forces it back into the flex flow */
  right: auto !important; 
  flex-shrink: 0; /* Prevents the safe zone from squishing it */
  height: 100%; 
  /* Ensure you have a set width here, e.g., width: 400px; */
}
.obj-orient,
.instruction-overlay,
.rotation-controls,
.explode_ctrl,
.panel {
  pointer-events: auto;
}


.loader-overlay {
  position: absolute;
  top: 0; left: 0; width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Dark semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50; /* Above canvas (0) but below HUD buttons (100) */
  backdrop-filter: blur(2px);
  transition: opacity 0.3s ease;
}

.loader-overlay.hidden {
  opacity: 0;
  pointer-events: none;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #ffffff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.viewer-hud-right {
  position: absolute;
  bottom: 0.1rem;
  right: 0.1rem;
  display: flex;
  align-items: center;
  margin: 1rem;
  padding: 0.2rem;
  border-radius: 20px;
  padding-left: 1rem;
  padding-right: 0.6rem;
}
.window .zoom-btn{
  pointer-events: auto;
  padding: 0.4rem;
  border-radius: 999px;
  border:none; background:none; color:#ffffff;
  display:grid; place-items:center;
  transition: transform 1s ease, box-shadow .5s ease, border-color 1s ease;
}
.zoom-btn:hover{
background-color: var(--mm-highlight);
color: var(--mm-select);
padding: 0.4rem;
cursor: pointer;
}

.explode_ctrl{
  width: 46px;
  flex-shrink: 0;
  align-items: center;

  bottom: 14px;
  left: 14px;
  padding-top: 12px;
  padding-bottom: 8px;
  
  border-radius: 30px;
  box-shadow: 0px 0px 20px 6px rgba(15, 15, 15, 0.271);
  border: 1px  solid #3f3f3f25;
  background-color: var(--hoverlay);
  backdrop-filter: blur(8px);

  display: flex;
  position: absolute;
  flex-direction: column;
  gap: 10px;
  z-index: 1400;
}
.explode_ctrl:hover{
  background-color: var(--hoverlay-2);
}
/* --------- Controls --------- */
.ext_controls{
  flex-shrink: 0;
  align-items: center;

  z-index: 2000;

   overflow: hidden;
   white-space: nowrap;

  top: 14px;
  right: 14px;
  padding:10px 18px;
  

  border-radius: 30px;
  border: 1px  solid #3f3f3f25;
  backdrop-filter: blur(8px);

  display: flex;
  position: absolute;
  flex-direction: column;
  gap: 20px;
}
.ext_controls:hover{
  background-color: var(--hoverlay-2);
}
.ext_controls .upper-button{
  color: #ffffff;
}
.ext_controls:hover .upper-button{
  color: #ffffffc6;
}
.ext_controls:hover .upper-button:hover{
  color: #fff;
}
#isolate-btn.is-active{
color: #0084ff !important;
}
#explode-btn.is-active{
color: rgb(255, 230, 0) !important;
}
#track-btn.is-active{
color: rgb(255, 119, 0) !important;
}
#rotation-lock-btn.is-active{
  color: rgb(8, 177, 8) !important;
}
.ext_controls > * {
  transition: width 0.35s ease, margin 0.35s ease, padding 0.35s ease, opacity 0.2s ease;
  flex-shrink: 0; 
}
.ext_controls.is-collapsed {
  border-radius: 50px !important; /* Keeps it a perfect circle */
  gap: 0 !important; /* Removes flex gap if you are using it */
}
.ext_controls.is-collapsed > :not(#settings-toggle-btn) {
  width: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  opacity: 0 !important;
  pointer-events: none;
  border: none !important;
}

.mm-sep4 {   
  height: 24px;
  width: 2px;

  background:var(--border-2);
}


/* --- Rotation Slider --- */
.rotation-controls {
  bottom: 0px;     
  padding: 14px 22px;
  display: flex;
  justify-content: center;
  width: 100%;


  background-color: #fff;
  border: 1px  solid var(--border-1);
  border-radius: 0px 0px 14px 14px;

  gap: 16px;
  align-items: center;
  position: absolute;
}
.rotation-controls .upper-button{
  color: var(--big-text);
}



.control-toggle{
  background: none;
  border: none;
  color: #fff;
  display: flex;
  position: absolute;
  left: 20px;
  align-items: center;
  justify-content: a;
  border-radius: 999px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.rotation-lock-btn {
  background: none;
  padding: 6px;
  border: none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 99px;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.rotation-lock-btn.is-active {
  background: var(--mm-select) !important;
  color: #fff !important;
  border-radius: 999px;
}


.explode-slider{
justify-content: center;
align-items: center;
appearance: slider-vertical;
margin: 10px;


margin-top: auto;
}

#rotation-slider {
  appearance: none;
  background: none;
  width: 80%;     
  cursor: grab;

}
#rotation-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  background: #cbcbcbaa; /* Your track color */
  border-radius: 3px;
  border: 0.5px solid #aeaeae89;

}

/* Target the slider thumb (the ball) for Chrome/Safari/Edge */
#rotation-slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Required here too */
  appearance: none;
  width: 24px;              /* The little guy is finally bigger */
  height: 14px;
  border-radius:99px;
  border: 1px solid var(--border-1);
  background: #ffffff;
  cursor: grab;
  margin-top: -5px;         /* Keeps him centered on the 2px track */
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.00);}

  #rotation-slider::-moz-range-track {
    width: 100%;
    height: 2px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 3px;
  }
  #rotation-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    background: #ffffff;
    cursor: grab;
    box-shadow: 0 1px 5px rgba(0,0,0,0.3);
  }



/* --- Texture Toggle Styles --- */




.panel-section p{ line-height:20px; color: var(--lil-text);
  font-size: 14px
  ;}


.section-label {
  align-items: center;         
  font-size: 16px;
  color: var(--big-text);
  margin: 4px 0px;
  font-weight: 800;

}

.close-panel-btn{
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 2rem;
  top: 2rem;
  color: var(--big-2);
}


.panel{
  height: auto;
  width: 27vw;
  flex-shrink: 0;
  border-radius: 14px;
  pointer-events: auto;
  position: relative;
  padding: 16px;
  margin-right: 1vw;
  margin-left: 1rem;
  margin-top: 14px;
  height: calc(var(--main-height) - 2rem); 

  border: 1px  solid var(--border-1);
  backdrop-filter: blur(50px);

  background-color: #fff;
}

.panel-content {
  overflow-y: auto;
  flex-grow: 1;
}

.info-grid {
  display: grid;
  align-items: start;
}

.info-text {
  display: flex;
  flex-direction: column;
}
.panel-section{
  display: flex;
  flex-direction: column;
}


.panel-header {
  display: flex;
  justify-content: space-between; /* Pushes text left and button right */
  align-items: center;
  color: var(--big-text);
  font-size: 36px;
  font-weight: 800;

}
.panel-header:hover{
  text-decoration: underline;
}
.pathway{
  font-weight: 500;
  letter-spacing: 0.4px;
  font-size: 12px;
  font-style: italic;
  color: #5a5a5a;
}

  .header-contents{
    display: flex;
    align-items: center;
    flex-direction: row;
  }


html, body { overflow-x: hidden;}

.left-hand{
  justify-content: center;
  align-items: center;
  width: auto;
  height: var(--main-height);
  border-right: 1px solid var(--border-1);
  border-radius: var(--radius);
  background-color: #fff;


  transition: width 0.3s ease, min-width 0.3s ease;
  width: 19vw;
  overflow: hidden;
}
.left-hand.collapsed {
  width: 60px;
  min-width: 60px;
}
.left-hand .searchbar,
.left-hand .index,
.left-hand .bottom-index {
  transition: opacity 0.2s ease;
  opacity: 1;
}

.left-hand.collapsed .searchbar {
  opacity: 0;
  pointer-events: none;
  width: 0;
  padding: 0;
  border: none;
}
.left-hand.collapsed .index,
.left-hand.collapsed .bottom-index {
  opacity: 0;
  pointer-events: none; /* Prevents clicking invisible elements */
}

/* Center the  when collapsed */


.center-btn{
  z-index: 2000;
  color:#fff;
  background: none;
  border: none;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upper-items{
  display: flex;
  flex-direction: column;

}

.upper-button{
  align-items: center;
  display: flex;
  gap: 6px;
  transition: 0.1s ease;
  font-size: var(--lil-text);
  font-weight: var(--lil-text);

  text-align: left;
  background: var(--color-2);

  border: none;
  color: #fff;
  border-radius: var(--radius);
  text-decoration: none;
}
.upper-button:hover{
  border: none;
  cursor: pointer;
}


.index{
  width: var(--mm-index-w);
  height : calc(var(--main-height) - 170px);
  overflow-y: auto;
    color: var(--lil-text);

      padding-left: 20px;
      padding-right: 12px;
      padding-top: 2px;
      border-top: 1px solid var(--border-1);
}




.mi-list {
  list-style: none;
  margin-top: 4px;
}
.index:hover{
  color: var(--lil-text);
}

.mi-list button {
  all: unset;
  box-sizing: border-box;
  height: 32px;
  padding-left: 8px;
  width: 100%;
  font-weight: var(--lil-text);
  font-size: var(--lil-text);
  cursor: pointer;
  display: flex;
  align-items: center;
  opacity: 1;
  border-bottom: 1px solid #8585851f;
}

.mi-list button:hover {
  color: var(--link-2);
  text-decoration: underline;
  border-left: 2px solid var(--link-2);
}
.mi-list button.is-active {
  color: var(--link-2);
  background-color: var(--link-hover);
  border-left: 3px solid var(--link-2);
  font-weight: 800;
  pointer-events: none;
}

.searchbar:focus-within { opacity:1;}


.hover-tog{
  color: var(--lil-text);
right: unset;
}

.bottom-index{
  border-top: 1px solid var(--border-1);
  padding: 12px;  
  display: flexbox;
  flex-direction: column;
}

.help-btn{
  align-items: center;
  display: flex;
  gap: 6px;

  z-index: 3000;
  position: absolute;
  bottom: 16px;
  left: 10px;
  background: none;

  display: flex;

  color:#ffffff71;
  font-weight: var(--lil-text);

  border: none;
  padding: 8px;
  text-decoration: none;
  font-size: var(--lil-text);
}
.help-btn:hover{
  background: var(--mm-highlight);
  border: none;

  color: var(--link-2);
   text-decoration: none;
   border-radius:30px;
   padding: 8px;
  cursor: pointer;
}
.help-btn:active{
  background: var(--link-2);
  border: none;

  color: #fff;
}

.mm-sep10{
  height: 1px;
  margin: 6px 0px;
  background-color: var(--border-2);
}



.searchy{
  position: relative;
  align-items: center; 
  justify-content: center;
  align-content: center;
  padding: 14px 20px 14px 20px;
  box-shadow: 1px 1px 8px 1px #38383800; 

  background-color: #fafafa;
}




.item-sec{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  margin-bottom: 8px;
  gap: 10px;

}

.filter-items{
  border: 1px solid var(--border-1);
  font-size: 13px;
  padding: 3px;
  border-radius: 0px 6px 6px 0px;
  width: 100%;
  margin-left: 24px;

  font-family: 'Google Sans';

  color: #696969;
    transition: ease-in-out 0.1s;
    cursor: pointer;
    outline: none;
    background-color: #ffffff;
}

.filter-items:hover{
  border-color: var(--link-2);
}


.reset-btn{
  background: none;
  border: none;
  position: absolute;
  color: #f0ffe7; 

  background-color: #1aa932;
  border: 1px solid #1aa932;
  border-right: 0px;
  border-radius: 4px 0px 0px 4px;
  height: 26px;
  width: 24px;

  cursor: pointer;
}
.reset-btn:hover{
  color: var(--link-2);
  cursor: pointer;
}

.isolation-status-row{
  margin-top: 6px;
  font-size: 14px;
  color: #919191;
  z-index: 3000;

  position: absolute;

  right: 30px;
  top: 66px;
}


.search-btn{
  border-right: 1px solid var(--border-1);
  z-index: 30000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;

  background-color: var(--color3);
  border-radius: 5px 0px 0px 5px;
}

.magnifying-glass{
  pointer-events: none; 
  color: #565656; 
  width: 18px;
  height: 18px;
}

.searchbar{
  width: 100%;
  margin-top: 6px;  
  border-radius: 6px;
  border: solid 1px var(--border-1);
  display: flex;
  flex-direction: row;
}
.searchinput::placeholder{
  color: var(--border-1);
  font-style: italic;
  font-family: 'Google Sans';
}

.searchbar:focus-within .search-btn{
 background-color: var(--link-2);
 transition: all 0.3s;
}
.searchbar:focus-within .searchinput{
 background-color: #04a5fb10;
 transition: all 0.3s;
}
.searchbar:focus-within .magnifying-glass{
  color: #fff; 
  transition: all 0.3s;
}

.searchinput{
  border: none;
  border-radius: 0px 6px 6px 0px;
  padding: 12px;
  width: 100%;
  background-color: #fff;
  color: none;
}
.searchinput:focus{
  outline: none;
  padding: 12px;
  background-color: none;
  color: none;
}


.logo-main{
  position: absolute;
  left: 4rem;
  width: auto;
  height:90px;
}

/* --- Footer Layout --- */
.site-footer {
  display: flex;
  gap: 3rem;
  padding: 3rem 6rem 2rem 6rem;
  background-color: var(--color3);
  border-top: 1px solid var(--border-1);
  border-bottom: 14px solid var(--border-1);
  margin: 0 auto;
  align-items: flex-start;
}

.footer-logo {
  flex-shrink: 0;
  width: 150px; 
}

.footer-logo img {
  width: 100%;
  height: auto;
}

.footer-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.footer-bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:4px;
}

.footer-links {
  display: flex;
  gap: 4rem;
}

.footer-links a {
  display: flex;
  align-items: center;
  gap: 8px;

  text-decoration: none;
  color: #1a1a1a;
  font-weight: 700;
  font-size: 14px;
}

.footer-links a:hover {
 color: #00aeff;
}

.footer-feedback {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #555555;
  font-size: 14px;
}

.vote-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #555555;
  display: flex;
  align-items: center;
  transition: color 0.15s ease;
}

.vote-btn:hover {
  color: #000000;
}
.vote-btn:focus{
  color: var(--link-text);
}

/* --- Divider --- */
.footer-divider {
  border: none;
  border-top: 1px solid var(--border-1); /* Matches your --border-1 */
  margin: 10px 0 14px 0px;
}

/* --- Bottom Row (Credits Text) --- */
.footer-credits-text {
  font-size: 13px;
  color: #333333;
  line-height: 1;
  text-align: left;
  padding-bottom: 6px;
}

.footer-credits-text p {
  margin-bottom: 1rem;
}

.footer-credits-text p:last-child {
  margin-bottom: 0;
}

.footer-credits-text a {
  text-decoration: none;
  color: #0397a7; /* Light blue link color from your screenshot */
}

.footer-credits-text a:hover {
  text-decoration: underline;
  color: #0081fa;
}
  .footer-credits-text .self-ref-link{
    color: var(--link-sel);
  }


/* --- Frosted Glass Instruction Overlay --- */
.instruction-overlay {
  position: absolute;
  top: 0; left: 0; width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.621);
  backdrop-filter: blur(16px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease;
  border-radius: var(--radius);
}

.instruction-overlay.is-visible {
  opacity: 1;
  pointer-events: auto;
}

.instruction-content {
  max-width: 460px;
  align-items: center;
  text-align: left;
    box-shadow: 1px 0px 80px 0px #000000;
  background-color: #00000039;
   backdrop-filter: blur(10px);
   border-radius: 30px;

}


.instruction-content p {
  display: flex;
  align-items: center;
  color:#e4e4e4;
  margin-bottom: 1rem;
  font-size: 16px;
  line-height: 1.8;
  
}
.instruction-content svg :hover{
  color: var(--mm-select);
  margin-bottom: 1rem;
  font-size: 14px;
  line-height: 1.5;
}


.close-overlay {
  background: #008cff;
  color: #fff;
  border: none;
  padding: 12px;
  margin-top: 20px;
  width: 460px;
  border-radius: 10px;

  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: 0.2s ease;
}
.close-overlay:hover{
  background: #46acff;
  box-shadow: #057aa839 1px 1px 10px;
}


.references{
  color: #17171b;
  background-color: var(--main-color);
  padding: 0rem 8rem;
  margin-top: 2rem;
}
.references p{
  margin-bottom: 10px;
  line-height: 1.5;
  align-items: center;
  display: flex;

}

.references li{
  color: var(--lil-text);
  line-height: 2rem;
  margin-left: 2rem;
}
.references a{
  color: var(--link-2);
  text-decoration: none;
}
.references a:hover{
  color: var(--link-sel);
  text-decoration: underline;
  align-items: center;
}
.references h3{
  font-size: 15px;
    margin-top: 1rem;
}

.shoutsout{
  margin-bottom: 2rem;
}

.model-button{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;

  font-family: 'Google Sans';

  background-color: #185281;
  padding: 14px 22px;
  font-size: 20px;
  border-radius: 14px;
  border: none;

  margin: 30px 0px;

  transition: ease-in-out 0.15s;
}
.model-button a{
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}
.model-button:hover{
  background-color: #1e6cac;
  cursor: pointer;
}

.setup{
 padding: 24px 14vw;
 font-size: 15px;

 display: flex;
 flex-direction: column;
}

.setup h2{
  display: flex;
  align-items: center;
  font-size: 32px;
  justify-content: center;
  margin-bottom: 20px;

  color: var(--big-text);
}

.setup p{
  color: var(--lil-text);
  margin-bottom: 1rem;
   line-height: 1.6rem;
   font-weight: 340;
    position: relative;
    text-align: center;
}
.setup p a{
  color: var(--link-2);
  text-decoration: none;
}
.banner img{
  min-width:100vw;
  height: auto;
  border-bottom: 1px solid var(--border-1);
}





/* --- MOBILE ADAPTATION --- */
.mobile-select-container {
  display: none; 
}


/* --- Responsive Mobile Layout --- */
@media (max-width: 850px) {

  .navbar{
    justify-content: left;
    gap: 10vw;
    padding: 20px;
  }

.help-btn{
  display: none;}

  .panel-header {
    font-size: 28px;
    color: #d4dfe6;
  }
  .section-label{
    font-size: 15px;
    padding: 8px 0px 2px 0px;
    color: #d4dfe6;
  }

  .pathway{
    font-size: 12px;
  }
  .isolation-status-row{
    display: none;
  }
  .brand{
    position:fixed;
    display: none;
  }
  .index-tog .mobile{
    position: absolute;
    margin: auto;
    top: -11px;
    width: auto;
    height: 24px;
    display: block;
  }
    .index-tog .desktop{
    display: none;
  }

  .link2{
    display: none;
  }
  .navbar{
    justify-content: center;
  }

  .panel-section{
    margin: 0;
    padding: 0;
    gap: 0;
  }
  
  /* Stack everything vertically */
  .layout-wrapper {
    flex-direction: column;
    overflow-y: auto; /* Let the user scroll the page */
  }
  .mm-sep10{
    margin: 10px 0px 10px 0px;
  }

  /* Swap the sidebars */
  .left-hand {
    display: none !important; /* Hide desktop index */
  }
  .mobile-select-container {
    display: block; /* Show mobile dropdown */
    width: 100%;
    height: 0px;
    background-color: #000000;
    z-index: 100;
  }
  
  /* Native select styling */
  #mobile-region-select {
    width: 60%;
    appearance: auto; /* Forces Apple/Android native roller */
    padding: 10px;
    margin: 12px;
    font-size: 15px; /* 16px prevents iOS from forcibly zooming the camera */
    border-radius: 8px;
    background-color: #0000001e;
    border: 1px var(--hoverlay-2);
    color: #ffffff;
    backdrop-filter: blur(10px);
  }

  .rotation-controls{
    display: none;
  }
  .ext_controls{
    flex-direction: column;
    padding: 16px;
  }
  .mm-sep4{
    display: none;
  }
  .view-dropdown-container{
    display: none;
  }

  /* Restructure Viewer for Mobile Real Estate */
  .viewer {
    width: 100vw;
    height: 60vh; 
    margin: 0;
    border-radius: 0;
    flex: none; /* Prevents flexbox from stretching it */
  }
  .window {
    border-radius: 0;
  }


  /* Shrink external controls so they don't overlap on small screens */
  .ext_controls {
    top: 10px; right: 10px;
    transform: scale(0.85);
    transform-origin: top right;
  }


  /* Move info panel directly below the viewer */
  .panel {
    width: 100vw;
    height: auto;
    min-height: 30vh;
    margin: 0;
    border-radius: 0;
    border: none;
    border-top: 1px solid var(--border-2);
    padding: 12px 16px 16px 16px;
    position: relative; /* Removes it from absolute positioning if applied */

    background-color: #101011c4;
    backdrop-filter: blur(140px);

  }


  .panel-content{
    margin-top: 0px;
  }
  .panel-content p{
    font-size: 13px;
    line-height: 18px;
    margin: 0px;
    color: #a9afb2;

  }

  .section-label{
    margin: 0px;
  }



  /* Stack the footer vertically */
  .site-footer {
    flex-direction: column;
    padding: 16px; 
    position: relative; /* Acts as an anchor for the absolute logo */
    background-color: #f9f9ff;
  }
  .footer-credits-text{
        order: 2;
        line-height: 18px;
        }

          .footer-credits-text p{
            margin-bottom: 10px;
          }

    .footer-content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
 .footer-links {
    order: 4;
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: flex-start;
    max-width: 90%; /* Leaves empty space for the logo */
  }

  .footer-bottom-row {
    display: contents; 
  }
  .footer-logo {
    position: absolute;
    bottom: 1rem;
    right: 16px;
    width: 114px; /* Adjust based on your image size */
    margin: 0;
  }
    .footer-feedback {
    order: 1;
    justify-content: flex-start;
    padding-bottom: 1rem;
    border-bottom: 1px solid #c5d5df; /* Creates the first divider */
    margin-bottom: 1rem;
    width: 100%;
  }
  .footer-divider {
    order: 3;
    margin: 1rem 0;
    width: 100%;
  }

  .notice{
    height: auto;
    padding: 12px 16px;
    background-color: #2e4169;
    color: #e7ebeb;
  }
  .notice svg{
    display: none;
  }

    .brand {
    order: -1; /* Pushes the logo to the very front of the line */
    margin-right: auto; /* Pushes the Home/Contact/References links to the right side */
  }

  .brand img {
    position: absolute; /* Kills the stubborn fixed positioning */
    right: 20px; /* Clears the 'margin: auto' inherited from the desktop CSS */
  }

  .references{
      padding: 0px 20px;
  }

  #track-btn{
    display: none;
  }


  .setup{
 padding: 20px 20px 10px 10px;
 font-size: 14px;
 margin-bottom: 2rem;
}
.setup h2{
  font-size: 24px;
  max-width: 940vw;
}
.setup p{
  max-width: 90vw;
     margin-left: 4px;

}

.setup svg{
  width: 50px;
  height: auto;
}
}